<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title> 
  <link rel="stylesheet" href="../css/modelator_web.css">
  <link rel="stylesheet" href="../css/menu.css">
  <script type="text/javascript" src="modules/d3.min.js"></script>
</head>
<body onload="init_page()">
  <div class="sticky-header" id="app_header">  
    <header style="background-color:black">  
      <h1>&nbsp;<a href="../index.html"><span style="color:white; vertical-align:middle">Model</span><span style="color:green; vertical-align:middle"><i>ator</i></span></a></h1>      
      <div class="menu">
        <ul>
          <li class="link">
            <a href="../index.html">Home</a>
          </li>
          <li>
            <!-- Tools Drop-down -->
            <a href="tools.html">Tools</a>            
              <ul>
                <li>
                  <!-- Calculators Drop-down -->
                  <a href="calculators.html" class="dropbtn">Calculators</a>
                  <ul>
                    <li class="link">
                      <a href="stats_calc.html">Statistics</a>
                    </li>                 
                  </ul>                                  
                </li>                
              </ul>            
          </li>
          <li class="link"><a href="about.html">About</a></li>
          <li class="link"><a href="help.html">Help</a></li>
        </ul>
      </div>   
    </header>
    
    <h2>&nbsp;<i>About</i></h2>
    <hr>
  </div>
  
  <div class="flex-container">
    <p>
      Welcome to the first tiniest piece of Modelator. Even though the first offering is just a statistics calculator it will progress from here.
      This is a project that has been percolating for years and it will lead to a full fledged modeling and simulation suite.
    </p>
    <p>
      Our love of models and patterns combined with our desire to see not only a habitable and sustainable future, but an equitable one
      as well, drive our passion for creating an intuitive and useful suite of software tools for creating, exploring, and sharing
      models and simulations that will help bring this vision into reality.      
    </p>
  </div>  

</body>
</html>